Servicios web (Piedra papel y tijera)/SOAP/clienteeee/xml-resources/web-service-references/ServerSoapp/wsdl/localhost_8080/ServerSoapp/ServerSoapp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ServerSoapp/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServerSoapp/">

<xs:element name="iniciarPartida" type="tns:iniciarPartida"/>

<xs:element name="iniciarPartidaResponse" type="tns:iniciarPartidaResponse"/>

<xs:element name="obtenerResultado" type="tns:obtenerResultado"/>

<xs:element name="obtenerResultadoResponse" type="tns:obtenerResultadoResponse"/>

<xs:element name="registrarJugada" type="tns:registrarJugada"/>

<xs:element name="registrarJugadaResponse" type="tns:registrarJugadaResponse"/>

<xs:element name="reiniciarPartida" type="tns:reiniciarPartida"/>

<xs:element name="reiniciarPartidaResponse" type="tns:reiniciarPartidaResponse"/>

<xs:complexType name="iniciarPartida">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="iniciarPartidaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reiniciarPartida">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reiniciarPartidaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarJugada">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarJugadaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerResultado">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerResultadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>