Servicios web (Piedra papel y tijera)/SOAP/clienteeee/xml-resources/web-service-references/ServerSoapp/wsdl/localhost_8080/ServerSoapp/ServerSoapp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServerSoapp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServerSoapp/" name="ServerSoapp">
<types>
<xsd:schema>
<xsd:import namespace="http://ServerSoapp/" schemaLocation="http://localhost:8080/ServerSoapp/ServerSoapp?xsd=1"/>
</xsd:schema>
</types>
<message name="registrarJugada">
<part name="parameters" element="tns:registrarJugada"/>
</message>
<message name="registrarJugadaResponse">
<part name="parameters" element="tns:registrarJugadaResponse"/>
</message>
<message name="reiniciarPartida">
<part name="parameters" element="tns:reiniciarPartida"/>
</message>
<message name="reiniciarPartidaResponse">
<part name="parameters" element="tns:reiniciarPartidaResponse"/>
</message>
<message name="obtenerResultado">
<part name="parameters" element="tns:obtenerResultado"/>
</message>
<message name="obtenerResultadoResponse">
<part name="parameters" element="tns:obtenerResultadoResponse"/>
</message>
<message name="iniciarPartida">
<part name="parameters" element="tns:iniciarPartida"/>
</message>
<message name="iniciarPartidaResponse">
<part name="parameters" element="tns:iniciarPartidaResponse"/>
</message>
<portType name="ServerSoapp">
<operation name="registrarJugada">
<input wsam:Action="http://ServerSoapp/ServerSoapp/registrarJugadaRequest" message="tns:registrarJugada"/>
<output wsam:Action="http://ServerSoapp/ServerSoapp/registrarJugadaResponse" message="tns:registrarJugadaResponse"/>
</operation>
<operation name="reiniciarPartida">
<input wsam:Action="http://ServerSoapp/ServerSoapp/reiniciarPartidaRequest" message="tns:reiniciarPartida"/>
<output wsam:Action="http://ServerSoapp/ServerSoapp/reiniciarPartidaResponse" message="tns:reiniciarPartidaResponse"/>
</operation>
<operation name="obtenerResultado">
<input wsam:Action="http://ServerSoapp/ServerSoapp/obtenerResultadoRequest" message="tns:obtenerResultado"/>
<output wsam:Action="http://ServerSoapp/ServerSoapp/obtenerResultadoResponse" message="tns:obtenerResultadoResponse"/>
</operation>
<operation name="iniciarPartida">
<input wsam:Action="http://ServerSoapp/ServerSoapp/iniciarPartidaRequest" message="tns:iniciarPartida"/>
<output wsam:Action="http://ServerSoapp/ServerSoapp/iniciarPartidaResponse" message="tns:iniciarPartidaResponse"/>
</operation>
</portType>
<binding name="ServerSoappPortBinding" type="tns:ServerSoapp">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registrarJugada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reiniciarPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerResultado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciarPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerSoapp">
<port name="ServerSoappPort" binding="tns:ServerSoappPortBinding">
<soap:address location="http://localhost:8080/ServerSoapp/ServerSoapp"/>
</port>
</service>
</definitions>